.photos {
  width: 100%;
  min-height: 20rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap-small);

  @media screen and (max-width: 50rem) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (max-width: 37.5rem) {
    grid-template-columns: repeat(2, 1fr);
  }

  .photoItem {
    display: block;
    position: relative;
    width: 100%;
    @supports (aspect-ratio: 1) {
      aspect-ratio: 1;
    }
    @supports not (aspect-ratio: 1) {
      padding-top: 100%;
    }
    transition: filter 0.3s ease-out, box-shadow 0.6s ease-out,
      transform 0.3s ease-out;

    &:hover {
      filter: var(--hover-filter);
      box-shadow: 0 0 3rem hsl(0 0% 0%/0.2);
      transform: scale(1.01);
    }
  }
}
