.socials {
  gap: var(--gap-medium);

  a {
    padding: 0 0.25rem;
  }

  svg {
    fill: var(--dark-1);
    height: 2.75rem;
    aspect-ratio: 1;
    transition: all 0.3s ease-out;

    &:hover,
    &:focus {
      transform: scale(1.1);
      fill: var(--dark);
    }
  }
}
