.quicklinks {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  gap: 1.5rem;
  max-width: 640px;
  width: 100%;
  margin: 0 auto;

  a {
    display: block;
    font-size: 1.6rem;
    line-height: 1;
    padding: 1.5rem 0;
    text-align: center;
    text-wrap: balance;
    text-transform: uppercase;
    font-weight: 600;
    transition: background-color 0.3s ease-out;
    overflow: hidden;
  }

  .gallery a {
    position: relative;
    display: flex;
    padding: 0;
    line-height: 1.5;

    .image {
      height: 9rem;
      width: 12rem;
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 2rem 0 0 2rem;
      overflow: hidden;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        will-change: filter;
        transition: filter 0.3s ease-out;
      }
    }

    &:hover img {
      filter: brightness(1.1);
    }

    &:hover .info {
      background-color: rgba(0, 0, 0, 0.025);
      border-color: rgba(0, 0, 0, 0.075);
    }

    .info {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 1rem 2rem;
      border: 1px solid rgba(0, 0, 0, 0);
      border-left: 0;
      background-color: rgba(0, 0, 0, 0.075);
      border-radius: 0 2rem 2rem 0;
      transition: border-color 0.3s ease-out, background-color 0.3s ease-out;
    }

    .artist {
      letter-spacing: 0.1em;
    }

    .detail {
      font-size: 1.4rem;
      font-weight: 300;
      text-transform: none;
    }

    .tag {
      position: absolute;
      inset: auto 2rem 1.6rem auto;
      font-size: 1rem;
      font-weight: 500;
      color: var(--light-4);

      @media screen and (max-width: 400px) {
        display: none;
      }
    }
  }
}

.title {
  margin-bottom: 3rem;
  margin-top: -1rem;
}
