.modal {
  position: fixed;
  inset: 0;
  cursor: pointer;
  z-index: 9999;
  background: hsl(var(--light-value) / 0.9);
  animation: fadeIn 0.3s forwards, blurIn 3s forwards;
  pointer-events: none;

  > * {
    pointer-events: all;
  }

  .close {
    border: none;
    outline: none;
    cursor: pointer;
    height: 3.5rem;
    aspect-ratio: 1;
    position: absolute;
    overflow: hidden;
    inset: 2rem 2rem auto auto;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 99;
    background: var(--light);
    border-radius: 50%;
    border: 0.2rem solid var(--dark);
    box-shadow: 0 0 1rem hsl(var(--dark-value) / 0.15);
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;

    @media screen and (max-width: 50rem) {
      inset: 1.5rem 1.5rem auto auto;
      border: 0.1rem solid var(--dark);
    }

    &:hover {
      box-shadow: 0 0 7rem hsl(var(--dark-value) / 0.2);
    }

    &::before,
    &::after {
      content: '';
      width: 100%;
      height: 0.3rem;
      background: var(--dark);
      color: var(--dark);
      position: absolute;
      top: 50%;
      left: 50%;
      width: 65%;
      transition: transform 0.3s ease-out;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    &::after {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &:hover {
      &::before {
        transform: translate(-50%, -50%) rotate(-135deg);
      }
      &::after {
        transform: translate(-50%, -50%) rotate(135deg);
      }
    }
  }

  .inner {
    position: absolute;
    inset: clamp(2rem, 2vh, 2vh) 2vw clamp(7rem, 2vh, 2vw) 2vw;
    display: flex;
    justify-content: center;

    span {
      position: relative;
      width: 100%;
      height: 100%;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  aside {
    position: absolute;
    inset: auto 0 2vh 0;
    text-align: center;

    h2 {
      margin: 0;
      font-size: 2rem;
      font-weight: 600;
      text-transform: uppercase;
    }

    P {
      font-size: 1rem;
      text-align: center;
      max-width: revert;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes blurIn {
  from {
    backdrop-filter: blur(0px);
  }
  to {
    backdrop-filter: blur(13px);
  }
}
